#loginBox {
    background-color: lightblue;
    width: 300px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.greyBackground {
    background-color: #F0F8FF;
}

.login {
    background-color: #F0E68C;
}

.loginHeading {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    color: purple;
}

.imageBar {
    height: 100px;
    margin-top: 5px;
}

.myContainer {
    margin-left: 80px;
    margin-right: 80px;
    background-color: lightblue;
}

.dropbtn {
    background-color: #9932CC;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.loginButton {
    float: right;
}

.navBar {
    background-color: #FFFFF0;
}